@import "vars";

.footer{
  background-color: $fon;
}
.footer__content{
  padding: 100px 0;
  border-bottom: 1px solid #424d53;
}
.footer__copy{
  padding: 30px 0;
  text-align: center;
}
.footer__copy-text{
  line-height: 36px;
  color: #919699;
}
.footer__title{
  color: #fff;
  font-size: 22px;
  font-family: $ral;
  padding-bottom: 30px;
  margin-bottom: 35px;
  position: relative;
  &:after{
    content: "";
    position: absolute ;
    left: 0;
    bottom: 0;
    background-color: $green;
    width:  50px;
    height: 3px;
  }
}
.footer__text{
  margin-bottom: 25px;
}
.footer__adress, .footer__phone{
  font-size: 14px;
  color: #fff;
  font-family: $lato;
  position: relative;
  padding-left: 30px;
  &:before{
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.footer__adress:before{
  content: '\f041';
}
.footer__phone{
  margin-top: 20px;
  display: block;
  &:before{
    content: "\f095";
  }
}
.footer__list a{
  color: #b7c3c8;
  font-family: $roboto;
  font-size: 15px;
  line-height: 36px;
  transition: all .3s;
}
.footer__list a:before{
  content: "\f105";
  font-family: 'icomoon';
  margin-right: 15px;
  color: $green;
  font-size: 18px;
  transition: all .3s;
}
.footer__list a:hover{
  color: #fff;
  font-size: 18px;
  &:before{
    font-size: 23px;
  }
}
.footer__social li{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 35px;
}
.footer__form-title{
  font-family: $roboto;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
input{
  width: 215px;
  height: 40px;
  background-color: #2f3c43;
  outline: none;
  padding-left: 15px;
  border: 1px solid #111;
  border-bottom: 1px solid #253136;
  border-right: none;
}
form{
  position: relative;
}
.email__button{
  width: 43px;
  height: 40px;
  position: absolute;
  border: 1px solid #111;
  border-top: 1px solid #111;
  border-bottom: 1px solid #253136;
  border-left: none;
  background-color: $green;
  outline: none;
  cursor: pointer;
  &:after{
    content: "\f124";
    font-family: 'icomoon';
    color: #fff;
    font-size: 20px;
    line-height: 36px;
  }
}