// Colors
$text: #546e7a;
$orange: #e74c3c;
$green:#8bc34a ;
$fon: #263238;
// Fonts
$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
$ral: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;